sudo: false
language: node_js
node_js:
  - '4'
  - '6'
  - '8'
  - '10'
before_script:
  - mysql -e 'create database orm_test;'
  - psql -c 'create database orm_test;' -U postgres
services:
  - mongodb
